/*@font-face {*/
/*    font-family: 'Agency FB';*/
/*    src: url('../fonts/AGENCYR.ttf');*/
/*}*/

.button:hover {
    -fx-background-color: white;
    -fx-effect: dropshadow(three-pass-box, #386a89,20,0.0,0.0,0.0);
}

.button2:hover {
    -fx-background-color: white;
    -fx-effect: dropshadow(one-pass-box, #386a89,20,0.0,0.0,0.0);
}

.button, .button2 {
    -fx-background-color: #E3E8E8;
}

